* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v4_3 {
  width: 100%;
  height: 1080px;
  background: linear-gradient(rgba(67,67,67,1), rgba(0,0,0,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_16 {
  width: 100%;
  height: 342px;
  background: rgba(0,153,255,1);
  opacity: 1;
  position: absolute;
  top: 739px;
  left: 0px;
  border: 0px solid rgba(0,0,0,1);
}
.v4_15 {
  width: 458px;
  height: 458px;
  background: url("../images/v4_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 407px;
  left: 583px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v4_13 {
  width: 485px;
  height: 477px;
  background: url("../images/v4_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 266px;
  left: 1268px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v4_12 {
  width: 73px;
  height: 90px;
  background: rgba(0,0,0,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 978px;
  left: 39px;
}
.v4_8 {
  width: 39px;
  height: 55px;
  background: url("../images/v4_8.png");
  opacity: 1;
  position: absolute;
  top: 995px;
  left: 56px;
  border: 4px solid rgba(255,255,255,1);
}
.v4_5 {
  width: 100px;
  height: 80px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 56px;
}
.v4_10 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 246px;
  left: 56px;
  opacity: 1;
  text-align: left;
}
.v4_17 {
  width: 76px;
  height: 76px;
  background: url("../images/v4_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 974px;
  left: 1799px;
  overflow: hidden;
}
.v4_18 {
  width: 144px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 950px;
  left: 1765px;
  font-family: Inter;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
